<!--Section: Products v.4-->
<section class="pb-3 text-center">
  <!--Section heading-->
  <h2 class="h1 py-5">Our bestsellers</h2>
  <!--Section description-->

  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">
      <!--Collection card-->
      <mdb-card class="collection-card z-depth-1-half">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg"
            alt=""
          ></mdb-card-img>
          <div class="stripe dark">
            <a>
              <p>
                Red trousers
                <mdb-icon fas icon="angle-right"></mdb-icon>
              </p>
            </a>
          </div>
        </div>
        <!--Card image-->
      </mdb-card>
      <!--Collection card-->
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">
      <!--Collection card-->
      <mdb-card class="collection-card z-depth-1-half">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/8.jpg"
            alt=""
          ></mdb-card-img>
          <div class="stripe light">
            <a>
              <p>
                Sweatshirt
                <mdb-icon fas icon="angle-right"></mdb-icon>
              </p>
            </a>
          </div>
        </div>
        <!--Card image-->
      </mdb-card>
      <!--Collection card-->
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">
      <!--Collection card-->
      <mdb-card class="collection-card z-depth-1-half">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/9.jpg"
            alt=""
          ></mdb-card-img>
          <div class="stripe dark">
            <a>
              <p>
                Accessories
                <mdb-icon fas icon="angle-right"></mdb-icon>
              </p>
            </a>
          </div>
        </div>
        <!--Card image-->
      </mdb-card>
      <!--Collection card-->
    </div>
    <!--Grid column-->

    <!--Fourth column-->
    <div class="col-lg-3 col-md-6 mb-4">
      <!--Collection card-->
      <mdb-card class="collection-card z-depth-1-half">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img
            src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/7.jpg"
            alt=""
          ></mdb-card-img>
          <div class="stripe light">
            <a>
              <p>
                Sweatshirt
                <mdb-icon fas icon="angle-right"></mdb-icon>
              </p>
            </a>
          </div>
        </div>
        <!--Card image-->
      </mdb-card>
      <!--Collection card-->
    </div>
    <!--Fourth column-->
  </div>
  <!--Grid row-->
</section>
<!--Section: Products v.4-->
